:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --app-width: 1420px;
  --app-bg-color: #f7f7f7;
  --shadow-400: 0 0 7px -1px rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--app-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}
